<nav class="navbar navbar-expand-md bg-light navbar-light">
	<div class="container">
		<a href="#" class="navbar-brand"> Customer Logo</a>
		<button class="navbar-toggler" data-toggle="collapse"
         data-target="#navbarsupportcontent">
          <span class="navbar-toggler-icon">  </span>
        </button>

		<div class="collapse navbar-collapse text-black" id="navbarsupportcontent">
			<ul class="navbar-nav ml-auto">
				<li calss="nav-item">
					<span class="fa fa-home"> Home </span>
				</li>
				<li calss="nav-item">
					<span class="fa fa-info-circle"> About </span>
				</li>
				<li calss="nav-item">
					<span class="fa fa-home"> Home </span>
				</li>
				<li calss="nav-item">
					<span class="fa fa-address-card"> Contact </span>
				</li>
			</ul>
		</div>
	</div>
</nav>

<section class="bg-dark text-white">
	<div class="container bg-dark pt-3">
		<div class="row">
			<div class="col-md-4 pb-2">
				<input type="text" class="form-control"
         placeholder="Enter Name">
      </div>
				<div class="col-md-4 pb-2">
					<input type="text" class="form-control"
         placeholder="Enter E-mail">
      </div>
					<div class="col-md-4 pb-3">
						<button class="btn btn-success form-control">Submit</button>
					</div>
				</div>
			</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-3 pb-3 pb-md-0">
				<div class="card text-center border-primary">
					<div class="card-body">
						<h3 class="text-primary"> Be better </h3>
						<p class="text-muted">
							Something has do with the given card1
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 pb-3 pb-md-0">
				<div class="card text-center bg-primary text-white mb-resp">
					<div class="card-body">
						<h3> Be Smart </h3>
						<p class="text-muted">
							Something has do with the given card2
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 pb-3 pb-md-0">
				<div class="card text-center border-primary mb-resp">
					<div class="card-body">
						<h3 class="text-primary"> Be better </h3>
						<p class="text-muted">
							Something has do with the given card3
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 pb-3 pb-md-0">
				<div class="card text-center bg-primary text-white mb-resp">
					<div class="card-body">
						<h3> Be Smart </h3>
						<p class="text-muted">
							Something has do with the given card4
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="d-inline">First Component</h3>
            <span class="float-right fa fa-plus-circle" style="font-size:1.5em" data-toggle="collapse" data-target="#card1"></span>
					</div>
          <div class="card-body collapse" id="card1">
            First Component content will come here
          </div> 
				</div>
			</div>
		</div>
	</div>
</section>